<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="1.0">
	<persistence-unit name="myUnit"
		transaction-type="RESOURCE_LOCAL">
		
		<class>database.data.roles.Customer</class>
		<class>database.data.users.User</class>
		<class>database.data.roles.workers.ServiceWorker</class>
		<class>database.data.roles.workers.Position</class>
		
		<class>database.data.utilities.Utility</class>
		<class>database.data.utilities.UtilityBill</class>
		
		<class>database.data.requests.Request</class>
		
	</persistence-unit>


</persistence>